.main{
    width:200px;
    height:230px;
    background: white;
    box-shadow:0 0 10px rgba(0,0,0,0.3);
    border-radius:20px;
    position:relative;
    scale: 1;
    transition: scale 500ms normal;
    top:-50px;
}

.main:hover{
    scale: 1.18;
}

@media screen and (max-width:767px) {
    .main{
        width: 80%;
        top:0px;
        padding: 30px 0;
        margin: 20px 0;
    }

    .main:hover{
        scale: 1.0;
    }
}