*{
    padding: 0;
    margin: 0;
}

#home-div{
    background: white;
    width: 100vw;
    height: 100vh;
}

#first-half{
  background: linear-gradient(to right, #93E9BE, #98F5E1);
    width:100%;
    border-bottom-left-radius: 35px;
    border-bottom-right-radius: 35px;
    height: 70%;
}

#second-half{
  background: white;
    width:100%;
    height: 22%;
}

#example-holder{
  width: 100%;
  height: 0px;
  display: flex;
  justify-content: space-around;
}

.home-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    font-family: 'Arial', sans-serif;
    color: #333;
  }
  
  .key-features {
    margin-top: 20px;
  }

  #heading{
    color:white;
    font-size:54px;
    margin-left: 60px;
    padding-top: 20px;
  }
  