*{
    padding: 0;
    margin: 0;
}

#home-div{
    background: white;
    width: 100vw;
    height: 100vh;
}

#first-half{
  background: linear-gradient(to right, #93E9BE, #98F5E1);
    width:100%;
    border-bottom-left-radius: 35px;
    border-bottom-right-radius: 35px;
    padding-bottom: 50px;
}

#second-half{
  background: white;
    width:100%;
    height: 22%;
}

#example-holder{
  width: 100%;
  height: 0px;
  position: relative;
  top:-18px;
  display: flex;
  justify-content: space-around;
  animation: down2up 500ms linear;
}
#intro-container{
  margin-left:60px;
  padding-top:27px;
  display:flex;
}

.home-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    font-family: 'Arial', sans-serif;
    color: #333;
  }
  
  .key-features {
    margin-top: 20px;
  }

  #heading{
    color:white;
    font-size:54px;
    margin-left: 60px;
    padding-top: 20px;
  }
  
  
@keyframes down2up{
  from{
      top:2px
  }
  to{
      top:-18px
  }
}

#descript-text{
  font-size:20px;
  font-weight:500px;
  padding:0px;
  color:white;
  width:'70%';
  margin-top:14px;
  text-align:left
}

#image{
  width:100%;
  position:relative;
  top:-42px;
  border-radius:20px
}

#image-container{
  flex:2;
  margin: 20px;
  margin-bottom: 25px;
}

#descript-container{
  flex:3;
  font-size:20px
}

@media (max-width:1024px){

  *{
    margin: 0;
  }
  #heading{
    font-size:40px;
    padding-left: 20px;
    margin: 0px;
  }

  #intro-container{
    margin-left:0px;
    padding-top:10px;
    display:block
  }
  .typing-text{
    font-size: 30px;
  }

  .typing-container{
    height: 65px;
  }

  #descript-text{
    margin-top: 20px;
    word-spacing: 0px;
    font-size: 19px;
   font-weight: 0px;
   font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }

  #descript-container{
    margin: 13px;
  }

  #image{
    top:0px;
    border-radius: 10px;
  }

  #image-container{
    margin: 0%;
    margin-top: 30px;
    padding: 20px;
    background-color: aliceblue;
  }

  #example-holder{
    height: auto;
    top:0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: none;
  }

  #first-half{
    height: auto;
    padding-bottom: 0px;
  }

  #second-half{
    height: auto;
  }
}